<html>
<head>
<title> The Last Fight </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/*---------------- for text on image ---------------------- */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 24px;
}
/*------------------- for buttons horiontal -----------------------*/
.btn-group button {
  background-color: #A9A9A9; 
  border: 2px solid black; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
width: 33%;
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #000000;
}
/*------------------for round images -------------------*/
.img-circle {
    border-radius: 50%;
}
/*----------------- for side by side images -------------- */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*---------------for image in cenetr--------------------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  width: 50%; */
}
</style>
</head>
<body bgcolor=#DCDCDC>

<div class="container">
<img src="k2.jpg" style="width:100%;" >
  <div class="bottom-right"><h1><b>The Last Fight :: "Targeryens" OR "Lannisters" OR "The Deads"</b></h1></div>
</div>
<br><br>
<p align=center > <b><font size="9"> ----------------Game of Thrones----------------- </font></b></p> <br><br>

<div class="btn-group">
  <button><a href="#top_1" style="color:white"> <b> <font size="3">Brief :: Game of Thrones </font></b></a></button>
  <button><a href="#top_2" style="color:white"><b> <font size="3">Brief :: Game Theory</font></b></a></button>
  <button><a href="#top_3" style="color:white"><b> <font size="3">Play the Game</font></b></a></button>
</div>
<br>
<ul>
<font size="6"><li> <p id="top_1"><b> Summary - Game of Thrones </b><font size="2"><a href="https://en.wikipedia.org/wiki/Game_of_Thrones"> wiki</a></font>
 </p>  </li> </font>

<h3 style="font-family:Times New Roman
;"> Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is A Game of Thrones.<br>
It is set on the fictional continents of Westeros and Essos, Game of Thrones has several plots and a large ensemble cast, but follows three story arcs. The first arc is about the Iron Throne of the Seven Kingdoms, and follows a web of alliances and conflicts among the noble dynasties either vying to claim the throne or fighting for independence from it. The second story arc focuses on the last descendant of the realm's deposed ruling dynasty, who has been exiled and is plotting a return to the throne. The third story arc follows the Night's Watch, a longstanding brotherhood charged with defending the realm against the ancient threats of the fierce peoples and legendary creatures that lie far north of The Wall, and an impending winter that threatens the realm.</h3>
<br>
<div class="row">
  <div class="column">
    <img class="img-circle" src="cersie.jpeg" alt="cirsie" style="width:100%">
  </div>
  <div class="column">
    <img class="img-circle" src="john.jpg" alt="john" style="width:100%">
  </div>
  <div class="column">
    <img class="img-circle" src="daenerys.jpeg" alt="Daenerys" style="width:100%">
  </div>
</div>
<br>
<br>
<h3 style="font-family:Times New Roman
;"> John Snow finally has convinced both ie. Cersie and Daenerys to fight against the army of DEAD. The night king, on the other hand, has shuttered the wall witht he help of one Dragon of Daenerys Targerian. Now, the questions that remains in the mind of all is Can "JOHN" wiht the help of Cersie and Daenerys, defeat the Night King...?
If the night king got defeated , who will sit on the "Iron Throne"..? <br>Lets play a game for it.</h4>
<hr width="50%" size="6" color="black">
<font size="6"><li> <p id="top_2"><b> An Introduction to Game Theory</b><font size="2"><a href="https://en.wikipedia.org/wiki/Game_theory "> wiki</a></font> </p>  </li> </font>
<h3 style="font-family:Times New Roman;"> Game theory is the process of modeling the strategic interaction between two or more players in a situation containing set rules and outcomes. While used in a number of disciplines, game theory is most notably used as a tool within the study of economics. The economic application of game theory can be a valuable tool to aide in the fundamental analysis of industries, sectors and any strategic interaction between two or more firms.<br><br>
<img src="game-theory.png" width="30%" class="center"><br>
<font size="5">-Game Theory Definitions</font><br><br>
Any time we have a situation with two or more players that involves known payouts or quantifiable consequences, we can use game theory to help determine the most likely outcomes.<br>

Let's start out by defining a few terms commonly used in the study of game theory:<br><br>

1) Game: Any set of circumstances that has a result dependent on the actions of two of more decision-makers (players).<br><br>
2) Players: A strategic decision-maker within the context of the game.<br><br>
3) Strategy: A complete plan of action a player will take given the set of circumstances that might arise within the game.<br><br>
4) Payoff: The payout a player receives from arriving at a particular outcome. The payout can be in any quantifiable form, from dollars to utility.<br><br>
4) Information set: The information available at a given point in the game. The term information set is most usually applied when the game has a sequential component.
Equilibrium: The point in a game where both players have made their decisions and an outcome is reached.<br><br>
<font size="5">-Assumptions in Game Theory</font><br><br>
As with any concept in economics, there is the assumption of rationality. There is also an assumption of maximization. It is assumed that players within the game are rational and will strive to maximize their payoffs in the game. <br>

When examining games that are already set up, it is assumed on your behalf that the payouts listed include the sum of all payoffs associated with that outcome. This will exclude any "what if" questions that may arise. 

The number of players in a game can theoretically be infinite, but most games will be put into the context of two players. One of the simplest games is a sequential game involving two players.
</h3>
<hr width="50%" size="6" color="black">
<font size="6"><li> <p id="top_3"><b> Lets play a Game</b> </p>  </li> </font>
<h3 style="font-family:Times New Roman;"> Since now, You know about the Game theory and Game of Thrones, Lets try to apply the concepts of Game theory to find out who's the winner in this Last fight. Our Game wont tell the strategies directly which can make one of them win, rather our game wil tell the outcomes of the game if the specified strategy was used to play the game by the players.<br>
Night King is the common enemy of both the Cersie and the Daenerys but they both also has in  mind that after the night king is somehow lost they had to fight with each other in order to win the seven kindoms capitolised at Kings landings.
The Game is such that both Cersie and Daenerys has limited number of soldiers to fight against each other and also with the night king. If they send more of their army against night king then , will be short of, to fight against each other. 
<ol><br>
<font size="5"> <b> Rules of Game </b></font><br><br>
<li>
Both the Cersie and Daenerys has equal number of army men.Each has total of 1000 , where the Night king has army of 1994 deads.
</li>
<li> There will be 2 rounds of fight, 1st  fight between army of dead and army of living. For the 1st fight , both Cersie and Daenerys will send some of their armies to fight against it. After this round (with the armies left) , they both will fight against each other.</li>
<li>
Since John Snow has sole motto to win over Night king and against the army of dead, he tries to "CONVINCE" both the ladies to send as much army as possible against the deads.</li>
 <li> Payoff matrix for the game represents the number of army men that will go to fight in each iteration of the fight ie. there will be some n number of fights (greater than 1 and not necessarily equal to 100). <br>
  <pre>                                     Con,Con=[20,20]
 			             Con, Non_Con=[15,5]
			             Non_Con, Con=[5,15]
       			             Non, Non=[10,10]</pre><br> 
<li> According to the level to which they are convinced by "John Snow", they will decide how much of their army to be end against the night king and how to much to save against each other. Finally after both the rounds, Winner will be decided by the number of the army men left ie. person who will have more number of army men will be the winner and will sit on the iron throne.</li></ol><br>
<hr width="50%" size="6" color="black">
</ul>
</h3>
<h1><pre>                           GAME </pre> </h1> 
          <h3>          -How much John Snow Can influence Cersie in Percentage..?</h3>
<form action= "{% url 'sa1' %}" method="POST">
 <input type="text" name="like 40" value="like 39">
 <h3>      -How much John Snow Can influence Daenerys in Percentage..?</h3>
 <input type="text" name="lastname" value="like 74">
  <br><br>
 <input type="submit" value="Sourabh" id="toggle1" />
	{% csrf_token %}
      </form> 

</body> 
</html>
